<% layout('layouts/main') -%>
<section class="contenedor wrapper">
    <div class="form-group" style="max-width: 600px; margin: 10px auto;">
        <br>
        <br>

    <form class="form" action="/api/panel/empleados/signup" method="POST">
        
        <h2 class="pp">Registrate</h2> 
        <hr>
        <input type="hidden" name="_id" value="">
        <div>
            <label for="nombre">Nombres</label>
            <input style="font-size: 1em;" type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Nombres">
        </div>
        
        <div>
            <label for="cedula">Nº de cédula</label>
            <input style="font-size: 1em;" type="text"  class="form-control" id="cedula" name="cedula" value="" placeholder="Nº de cédula">
        </div>
        
        <div>
            <label for="email">Email</label>
            <input style="font-size: 1em;" type="text" class="form-control" id="email" name="email" value="" placeholder="Email">
        </div>

        <div>
            <label for="telefono">Telefono</label>
            <input type="text" style="font-size: 1em;" class="form-control" id="telefono" name="telefono" value="" placeholder="Telefono">
        </div>
        
        <div>
            <label for="password">Contraseña</label>
            <input style="font-size: 1em;" type="password" class="form-control" id="password" name="password" value="" placeholder="Contraseña">
        </div>
        <div class="button">
            <button style="font-size: 1em;" type="submit" class="btn btn-primary button">Registrase</button>
        </div>
        <p>¿Tienes una cuenta? <a href="/api/panel/login">Inicia sesión</a></p>

        <% if(signupMessage.length >0){ %>
            <div class="alert alert-danger"><%= signupMessage %></div>
        <% } %>
        
    </form>
    <br>
        
    </div>
</section>